table {
  display: grid;
  border-collapse: collapse;
  margin-bottom: 1rem;
  min-width: 100%;
  grid-template-columns:
    minmax(50px, 1fr)
    minmax(150px, 2fr)
    minmax(150px, 2fr)
    minmax(90px, 0.8fr)
    minmax(110px, 1fr);
  border: 2px solid #1abc9c;
  overflow-x: auto;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
th {
  position: sticky;
  top: 0;
  background: #1abc9c;
  text-align: left;
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  color: #000000;
  text-align: left;
}

tr:nth-child(even) td {
  background: #ecf0f1;
}


// Buttons styling

.SUCCESS {
  color: #2c761e;
  margin-right: 1rem;
  background-color: transparent;
}

.REJECT {
  color: #2c2e2d;
  font-weight: 700;
  background-color: transparent;
}

.edit_btn {
  background-color: transparent;
  color: #808080;
  margin-right: 1rem;
  font-size: 1rem;
}

.delete_btn {
  background-color: transparent;
  cursor: pointer;
  color: rgb(187, 56, 56);
  font-size: 1rem;
}

.delete {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #dc2e2e;
}

.delete:hover {
  background-color: #e64b36;
}

.delete:active {
  background-color: #d14020;
}

.button_reset {
  border: none;
  cursor: pointer;
}

// Input Styling
.name_input {
  padding: 0.2rem;
  border-color: #a9a9a9;
}
.email_input {
  padding: 0.2rem;
  border-color: #a9a9a9;
}
.role_input {
  max-width: 8.25rem;
  padding: 0.2rem;
  border-color: #a9a9a9;
}
